@model IEnumerable<ThiCuoiKy.Net.Models.BrandModel>

<h2>Danh sách dòng sản phẩm</h2>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Tên</label>
                @* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
                <label>Mô tả</label>
                @* @Html.DisplayNameFor(model => model.Description) *@
            </th>
            <th>
                <label>Trạng thái</label>
                @* @Html.DisplayNameFor(model => model.Status) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.Id">Sửa</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
