@model IEnumerable<ThiCuoiKy.Net.Models.OrderDetailModel>

@{
    ViewData["Title"] = "Order Details";
}

<h2>Chi tiết đặc hàng</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@(item.Price * item.Quantity)</td>
            </tr>
        }
    </tbody>
</table>

<p>Tổng hóa đơn: @Model.Sum(item => item.Price * item.Quantity).ToString("C")</p>
